@media (max-width: 1630px) {
	.nav-list {
		display: none;
	}
	.nav-button {
		display: block;
	}

	.nav.open .nav-list {
		display: block;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #fff;
		padding: 46px 30px;
		display: flex;
		flex-direction: column;
		row-gap: 40;
		font-size: 34px;
		font-weight: 600;
	}
	
	.nav-link {
		color: #828282;
	}
	.nav-link.active {
		color: #000;
	}
	
	.nav-button {
		position: fixed;
		z-index: 9;
		top: 46px;
		right: 30px;
	}

	.header-nav {
		margin-bottom: 15px;
	}

	.header-row {
		flex-direction: column;
	}

	.header-content {
		margin-top: 0;
	}

	.header-img {
		text-align: center;
	}

	.brands {
		display: none;
	}

	.project-img {
		flex-direction: column;
	}

}

@media (max-width: 1060px) {
	.header-heading {
		font-size: 34px;
	}

	
	.collections-project{
		width: 48%;
		display: inline-block;
	}

	.banner-promotion {
		width: auto;
	}

	.young-collections {
		width: auto;
		display: inline-block;
		flex-direction: column;
	}

	.mobile {
		width: auto;
	}

	.contacts {
		width: auto;
		padding: 100px 0;
	}
}

